In [2]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementClickInterceptedException
import time

In [3]:
driver=webdriver.Chrome(r"C:/Users/HP/Desktop/Data Trained/Flip Robo/Web-scrapping_2 (1).ipynb")

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually

The answer starts from below cell

In [4]:
driver.get("https://www.naukri.com/")
time.sleep(5)

In [5]:
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_designation.send_keys("Data Analyst")

In [6]:
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_location.send_keys("Bangalore")

In [7]:
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()
time.sleep(5)

In [8]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Senior Data Analyst - Supporting Audits',
 'Business/Data Analyst - Colleague Experience & Technology']

In [10]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [11]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['Visa Inc.', 'Vmware']

In [12]:
 #scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:2]

['2-8 Yrs', '3-8 Yrs']

In [13]:
  # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head()

,experience_required,company_name,job_location,job_title
0,2-8 Yrs,Visa Inc.,Bangalore/Bengaluru,Senior Data Analyst - Supporting Audits
1,3-8 Yrs,Vmware,Bangalore/Bengaluru,Business/Data Analyst - Colleague Experience &...
2,3-5 Yrs,Enquero,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Senior Data Analyst - Einstein Analytics
3,0-2 Yrs,NIUM INDIA PRIVATE LIMITED,"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",Data Analyst - 0-2 years (6 month contract)
4,0-3 Yrs,CAREERLABS TECHNOLOGIES PRIVATE LIMITED,(WFH during Covid),Data Analyst

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done
manually.
WEB SCR

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

In [16]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [17]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [18]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Data Scientist- Senior Business Analyst/Lead Analyst',
 'Senior Data Scientist']

In [19]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['Evalueserve.com Pvt. Ltd', 'Signify']

In [20]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Gurgaon/Gurugram, Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [21]:
job_description=[]

In [22]:
# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")

In [23]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":job_description[0:10]})
df.head()

,job_title,company_name,job_location,job_description
0,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru",Job Description\nUnderstand and design analyti...
1,Senior Data Scientist,Signify,Bangalore/Bengaluru,"What you ll do\nResearch, design and prototype..."
2,Lead Data Scientist - Retail Industry,IBM India Pvt. Limited,Bangalore/Bengaluru,---
3,"Senior Data Scientist (Analytics),",Luxoft,Bangalore/Bengaluru,Data and Analytics Proposal Responses for Cr...
4,Senior/ Lead Data Scientist,Superior Group,Bangalore/Bengaluru,Provide advanced analytical capabilities to su...

In [24]:
job_description

['Job Description\nUnderstand and design analytical solutions to business problems leveraging data science\nUnderstand and get requirements from Stakeholders\nPropose and execute solutions and present deliverables to stakeholders\nManage and optimize deliverables\nMentor and train new team members\nDevelop POCs to enhance the teams capability\n\nRequirements\nUnderstanding of mathematical, statistical, and theoretical foundations of statistics and machine learning (ML) and parametric and non-parametric models\nKnowledge of advanced data mining techniques, curating, processing, and transforming data to produce datasets\nUse statistical techniques and ML methods for predictive modeling / classification of problems around clients, distribution, sales, marketing, client profiles, and segmentation\nProvide relevant and actionable recommendations / insights for businesses\nUnderstanding of ML lifecycle that includes feature engineering, training, validation, scaling, deployment, scoring, monitoring, and feedback loop\nExpertise in SAS Visual Analytics, Tableau, and Python\nExpert in Python / R / SAS\nExperience with cloud computing infrastructure, such as AWS / Azure / GCP\nAble to develop, test, and deploy models on cloud / web\n\nEducation and Experience\nBE / B.Tech. / MBA / M.Stat. / M.SC. or equivalent degree in Quant. from a reputed institute\n2-8 years of relevant experience',
 'What you ll do\nResearch, design and prototype robust and scalable models based on machine learning, data mining, and statistical modeling to answer key business problems\nBuild tools and support structures needed to analyze data, perform elements of data cleaning, feature selection and feature engineering and deliver projects in conjunction with best practices\nWork with development teams business groups to ensure models can be implemented as part of a delivered solution and can be replicated across multiple markets / countries\nPresent findings to stakeholders to drive improvements and solutions from concept through to delivery\nKeep abreast of the latest developments in the field by continuous learning and proactively champion promising new methods relevant to the problems at hand\nWhat you ll need\nPhD / Masters / B.Tech in computer science, computer engineering with 7+ years of demonstrated experience in the Advanced Analytics / Machine Learning field\nDemonstrated history of driving and delivering analytics models and solutions\nDeep knowledge of fundamentals of machine learning, data mining and statistical modeling, and extensive experience applying these methods to real world problems\nStrong skills in software prototyping and engineering with expertise in applicable programming and analytics languages (Python, R, SQL) and various open source machine learning and analytics packages. Good knowledge of SAP Datahub is highly desired\nAbility and inclination to work in multi-disciplinary environments, and desire to see ideas realize in practice\nWhat you ll get in return\nOpportunity to work on some of the highly complex and challenging business problems across a variety of functional domains and consumer markets\nCompetitive salary depending on experience\nExtensive set of tools to drive your career, such as a personalized learning platform, free training and coaching',
 '---',
 '  Data and Analytics Proposal Responses for Cross Industry Solutions.\nThe position is for the global client solutioning team. Analytics client solutioning team supports various Analytics opportunities, which mainly includes RFP responses, Analytics technical consulting etc.\n\nWe are a global team and we provide Analytics solutioning support from India spanning across all regions globally.\n\nOur current openings are for the Solution Architects, who can provide solutions like:\n- Data Engineering This includes data engineering solutioning and data management solutioning ( Both on Premise and on Cloud solutions)\n- Data Modernization This involves Analytics workload migration to cloud solutions , Analytics modernization (end-to-end).\n- Analytics AI - This involves solutioning Advanced analytics models / solutions spanning across all Industries\n\n\nResponsibilities\nGlobal Analytics Client Solutioning -\nResponsible for constructing responses to Analytics Solutions as response to RFP\nResponsible for providing consulting services on Analytics\nResponsible for Analytics Solutions as response to RFP\n\n\nSkills\nMust have\n9+ years working as a Data Scientist with Lead experience.\nMSc or PhD in machine learning, computer science, mathematical science or similar.\nExperience in Solutioning Business requirements into fully operationalized AI / ML Projects\nExperience in leading data science engagements and/or other data scientists within a project.\nAble to articulate complex data science concepts to both technical and non-technical audiences\nExperience in Deep Learning and other Machine Learning techniques (e.g. regression, classification, topic modelling, time series, Neural Networks).\nExposure / Knowledge in all Data Science offerings (Machine Learning, Anomaly Detection, Text Analytics / NLP, Computer Vision, Deep Learning)\nStrong Experience with machine learning in Python, SQL, Pandas, Numpy, Scikit Learn, Tensorflow, Keras, PyTorch or equivalent\nShould be able to drive creation of PoCs and contribute to CoEs working with the Delivery team\nShould have sound understanding of Agile, DevOps, CI/CD, source control and automated testing\nExpertise in ML Ops Deployments in one or more projects\nExperience of working in cloud environments (Azure, GCP, AWS etc)\nSpark / Hive/ Big Data Tools (Athena/Big Query etc...)\nStrong domain expertise in 1 or more industry or have exposure to multiple business process scenario\nExcited about data science!\nNice to have\nShould have sound understanding of Agile, DevOps, CI/CD, source control and automated testing\nExperience of working in cloud environments (Azure, GCP, AWS etc)\nSpark / Hive/ Big Data Tools (Athena/Big Query etc...)\n\n ',
 'Provide advanced analytical capabilities to support data science initiatives\nSolves highly complex problems that do not yet have solutions in the research and span much of the Data Science portfolio\nInfluences the thought process and methodology for other team members\nJob Requirements\nSkill seet required:\n6+ years of experience in analytics AND 2 years of programming experience (Python, Java, Scala, Rust, etc.)\n3 years of experience performing predictive analytics at a large scale enterprise\n3 years of experience in data science or advanced analytics in industry\nSQL Experience\nExperience using multiple data systems and sources (such as Hadoop, Spark, Aster, Teradata, etc.)',
 'Looking to hire a Consultant in Analytics team to implement analytics projects like data mining, forecasting, predictive models, social media analytics and contextual analytics.\nSpecification / Skills / Experience\n• Work independently on complex analytics projects, specifically on projects involving building and implementing statistical models\n• Ability to understand business needs and apply analytical concepts to provide business solutions\n• Oversee execution and delivery of key project milestones.\n• Accountable for clear requirements documentation, analysis/development plans, project consulting and troubleshooting, the on time delivery of projects, timely communication to clients, and quality of project deliverables.\n• Project management tasks include (but are not limited to): defining project scope, assisting with requirements collection, providing analysis/development plans, working closely with the client both onshore and offshore during execution of project, and ensuring on-time delivery of and quality of projects.\n• Establish and maintain clear communication with the team manager regarding project scope, timelines, issue resolution, and deliverables.\n• Ability to adapt to analytics requirements across multiple functions (Marketing, Sales, Supply Chain) and multiple industries (Utilities, Insurance, Financial Services, Life Sciences etc.)\n• Ability to work in a multi-cultural environment and independently handle clients across geographies\n\nPrimary Skills (Must have)\n• Overall 2-4 years of analytics experience, preferably across multiple domains (marketing, sales, supply chain) or multiple industries (utilities, insurance, financial services, retail, life sciences)\n• Experience in utilizing statistical tools (e.g., SAS, SPSS, R Programming, SQL)\n• Strong experience in advanced statistics and analytics including segmentation, modeling, regression, forecasting etc.\n• Strong business understanding of at least one domain/industry\n• Exposure in working directly with clients to conceptualize, design and deliver high-quality solutions and insightful analysis on a variety of projects ranging in both complexity and scope\n• Excellent communications skills with respect to translating business needs into a mathematical/data analysis approach and translating analysis results back into business terms.\n• Ability to synthesize and clearly communicate highly complex findings that focus on the critical issues and provide actionable opportunities.\n• Ability to work in a cross cultural environment\n• Proven project successes, including balancing multiple projects and differing project priorities.\n• Desired Previous consulting analytics experience preferred',
 '---',
 'Exp : 5 `to 9 yrs\nSkill : Data Scientist\nJD:\nDelivery Excellence has identified Predictive Analytics as one of the top focus areas. By looking through the vast amount of structured and unstructured data to identify patterns, draw inferences and predict outcomes, we intend to enhance the delivery quality, operations & risk management capability in client engagements leading to enhanced profitability, revenue & client satisfaction.\nWe are looking for a Data Scientist to join our team to provide the subject matter expertise and technical leadership in this endeavor. He / She will collaborate with the business teams, technical & functional teams, and vendor partners to understand the needs and devise solutions. He / She will evaluate alternate approaches, models & toolkits to define suitable solutions based on the problem statements.\n\nRole\nData Scientist\nKey Responsibilities\nDiscover the information hidden in structured & unstructured data by applying data mining techniques, doing statistical analysis, and building high quality prediction systems\nEvaluating business problems for suitability & feasibility of a predictive solution\nEvaluating & Identifying the right Machine Learning and data science techniques & toolsets to address a variety of predictive analytics problems\nAn individual contributor as well as a guide to the fellow team members in discovery, design, and development of analytical models\nWorking with functional & technical teams in the development, pilot & optimization of tools and models using Machine Learning & Natural Language Processing\nQualifications & Skills\nAdvanced degree in statistics, computer science, machine-learning or related fields such as econometrics\n10+ years of professional experience in software engineering, with a good understanding of the Information Technology industry\n5+ years of data mining (structured / unstructured data) & Machine Learning experience, with a proven ability to design and develop solutions across ML landscape (supervised, un-supervised, semi-supervised etc.)Excellent applied statistics skills\nSupervised algorithms, such as k-NN, Naive Bayes, Decision Trees, Logistic Regression, SVM, Random Forests, Neural Nets etc.\nUnsupervised algorithms including clustering, anomaly detection, document similarity, dimensionality reduction etc.\nProven experience with below toolkits & technologies is a must: Statistical programming languages such as Python, R\nAzure Machine Learning\nML and NLP toolkits such as scikit-learn, TensorFlow, PyTorch, Keras, Stanford suite, Python NLTK, spaCy\nStrong attention to detail and excellent quantitative and qualitative analytical ability\nTeam player and a self-starter; Excellent collaboration skills\nExcellent oral & written communication skills, with ability to explain machine learning concepts and findings or techniques to varied stakeholders\nShift : Day Job\nTravel : No',
 '---',
 'Roles and Responsibilities\nStrong in problem solving, algorithms and data structures\nProficient in Python\nHands on experience in technologies and tools related NLP, Deep learning, Machine learning\nExperience on Conversational AI is a plus\nAble to train and deploy models. Hands on experience on multi gpu/ tpu training\nBroad knowledge of machine learning algorithms and principles\nPerformance profiling and Tuning\nCommunicate and propose solutions to business challenges\nFamiliarity with at least one of the cloud computing infrastructure - GCP/AWS\nKeep abreast with the latest technological advances\nTeam mentoring and leadership skills\n\nDesired Candidate Profile\n\nNo. of opening: 01\nExperience Required : 05 years and above\nEducational Qualification: B.E/ B.Tech from Top Tier institutes ( IIT, BITS and NITs)\nExperience with Product company\nMust be interested to work in a fast pace startup culture\n\nPerks and Benefits\nMedical coverage for Self and Family\nProvident Fund\nStock Options\nLearning Program']

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually

In [25]:
driver.get("https://www.naukri.com/")

In [26]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")

search_field_designation.send_keys("Data Scientist")

In [27]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [28]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [29]:
# finding the location check box
loc=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

# clicking the check box
loc.click()

In [30]:
# finding the salary check box
loc=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

# clicking the check box
loc.click()

In [31]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Senior Data Scientist',
 'Immediate Openings For DATA Scientist with 6 To 7 yrs of Experience']

In [32]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [33]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

 #scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:2]

['3-6 Yrs', '5-8 Yrs']

In [34]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head()

,experience_required,company_name,job_location,job_title
0,3-6 Yrs,inVentiv International Pharma Services Pvt. Ltd.,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Senior Data Scientist
1,5-8 Yrs,(29 Reviews),"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Immediate Openings For DATA Scientist with 6 T...
2,5-7 Yrs,Entune IT Consulting Private Limited,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba...",Data Scientist
3,2-4 Yrs,(11 Reviews),Gurgaon/Gurugram,Data Scientist
4,3-6 Yrs,Experiture,"Noida, Gurgaon/Gurugram, Delhi / NCR",Data Scientist

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
WEB SCRAPING ASSIGNMENT-2
.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually

In [75]:
driver.get("https://www.glassdoor.com/")

We have to login  manually

In [76]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.keyword']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.location']"))).send_keys("Noida")


#search_field_designation=driver.find_element_by_xpath("//input[@id='sc.keyword']")
#search_field_designation.send_keys("Data Scientist")
#search_field_location=driver.find_element_by_xpath("//input[@id='sc.location']")
#search_field_location.send_keys("Noida")

In [77]:
# clicking the search button
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [78]:
# creating empty lists for scraping data

company_ratings=[]
company_name=[]
days_ago=[]

In [79]:
# finding the element where company name is present
companies=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['Applied Materials Inc.', 'Hy.ly Inc.']

In [80]:
# finding the element where ratings of the company  is present
ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
company_ratings[0:2]

['4.0', '3.4']

In [81]:
# finding the element where  No. of days ago when job was posted is present
days=driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text[0])
days_ago[0:2]

['3', '1']

In [82]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]
                })
df.head()

             company_name company_ratings days_ago
0  Applied Materials Inc.             4.0        3
1              Hy.ly Inc.             3.4        1
2      Lunavo Labs/Swazei             4.4        4
3                   Ambee             3.0        3
4                   Slice             5.0        5

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount 
To scrape 
the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it

In [35]:
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]

In [36]:
#intialising driver

driver.get('https://www.flipkart.com/')

In [37]:
#locating the search bar
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
#search_bar.clear()
search_bar.send_keys('sunglasses')

In [39]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [41]:
#scrapping the required products links
link=[]
while len(link) <= 100:
    product_link=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
    for lnk in product_link:
        link.append(lnk.get_attribute('href'))
    #going for next 3 pages
    try:
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
        nxt_button.click()#getting the link from the list for next page
    except ElementClickInterceptedException:
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver.get(nxt_button.get_attribute('href'))

In [42]:
len(link)

120

In [44]:
#scrapping the required details
try:
    for page in link[:100]:#for loop for scrapping 100 products
        driver.get(page)
        brands=driver.find_element_by_xpath("//span[@class='G6XhRU']")#scraping brands name by class name='_2B_pmu'
        brand.append(brands.text)#appending the text in Brand list
        desc=driver.find_elements_by_xpath("//span[@class='B_NuCI']")#scraping description
        for i in desc:
            description.append(i.text.replace('\n',''))#appending the description in list
        prices=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")# scraping the price from the xpath
        price.append(prices.text)
        discnt=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")# scraping the discount from the xpath
        discount.append(discnt.text)
except IndexError:
    pass

In [45]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
print(df)

              Brand                                        Description Price  \
0        ROYAL SON   Polarized, UV Protection Round Sunglasses (49)...  ₹699
1        ROYAL SON   Polarized, UV Protection Round Sunglasses (49)...  ₹699
2          Billion   UV Protection, Riding Glasses Wrap-around Sung...  ₹279
3           PIRASO   UV Protection Aviator Sunglasses (54)  (For Me...  ₹237
4         Fastrack   UV Protection Rectangular Sunglasses (Free Siz...  ₹513
..              ...                                                ...   ...
95       Elligator   Mirrored Round Sunglasses (53)  (For Men & Wom...  ₹312
96       ROYAL SON   UV Protection Over-sized Sunglasses (65)  (For...  ₹699
97        Fastrack   Gradient, UV Protection Wayfarer Sunglasses (F...  ₹509
98        Fastrack   Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹738
99  ROZZETTA CRAFT   UV Protection, Gradient Rectangular Sunglasses...  ₹404

   Discount
0   65% off
1   78% off
2   85% off
3   35% off
4   15% off
..      ...
95  53% off
96  36% off
97  26% off
98  79% off
99  65% off

[100 rows x 4 columns]

Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [46]:
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]

In [47]:
#intialising driver
driver.get('https://www.flipkart.com/')

In [49]:
#locating the search bar
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar.clear()
search_bar.send_keys('sneakers')
button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [51]:
#scrapping the required products links
link=[]
while len(link) <= 100:
    product_link=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
    for lnk in product_link:
        link.append(lnk.get_attribute('href'))
    #going for next 3 pages
    try:
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
        nxt_button.click()#getting the link from the list for next page
    except ElementClickInterceptedException:
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver.get(nxt_button.get_attribute('href'))
len(link)

120

In [52]:
#scrapping the required details
try:
    for page in link[:100]:#for loop for scrapping 100 products
        driver.get(page)
        brands=driver.find_element_by_xpath("//span[@class='G6XhRU']")#scraping brands name by class name='_2B_pmu'
        brand.append(brands.text)#appending the text in Brand list
        desc=driver.find_elements_by_xpath("//span[@class='B_NuCI']")#scraping description
        for i in desc:
            description.append(i.text.replace('\n',''))#appending the description in list
        prices=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")# scraping the price from the xpath
        price.append(prices.text)
        discnt=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")# scraping the discount from the xpath
        discount.append(discnt.text)
except IndexError:
    pass

In [53]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
print(df)

               Brand                                        Description  \
0            DUCATI                            Sneakers For Men  (Grey)
1         Marc Ecko                           Sneakers For Men  (Brown)
2            Chevit   Super Stylish & Trendy Combo Pack of 02 Pairs ...
3    luxury fashion                           Sneakers For Men  (White)
4        Shoes Bank   White Sneaker For Men's/Boy's Sneakers For Men...
..               ...                                                ...
95           DUCATI                           Sneakers For Men  (Black)
96         ASTEROID   Original Luxury Branded Fashionable Men's Casu...
97         ASTEROID   Original Luxury Branded Fashionable Men's Casu...
98           Chevit   Perfect & Affordable Combo Pack of 02 Pairs Sn...
99  U.S. POLO ASSN.            LEBRON 2.0 Sneakers For Men  (Off White)

     Price Discount
0   ₹1,189  66% off
1     ₹479  78% off
2     ₹599  62% off
3     ₹448  65% off
4     ₹349  65% off
..     ...      ...
95  ₹1,219  67% off
96    ₹499  75% off
97    ₹499  50% off
98    ₹473  73% off
99  ₹3,916   2% off

[100 rows x 4 columns]

Q10:  Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [54]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

In [56]:
#intialising driver
driver.get(' https://www.amazon.in')

In [57]:
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()

In [58]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [59]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [60]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [61]:
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [62]:
#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [63]:
#checking the length of each list
print(len(Title))
print(len(price))
print(len(Ratings))

10
10
10

In [64]:
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
print(df)

                                               Title     Price       Ratings
0  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  1,99,990  2.9 out of 5
1  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.5 out of 5
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.3 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,490  4.4 out of 5
4  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    71,990  3.8 out of 5
5  HP Pavilion Gaming(2021) 10th Gen Intel Core i...    89,990  4.4 out of 5
6  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    73,990  4.4 out of 5
7  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....    81,990  3.7 out of 5
8  Lenovo Legion 5 10th Gen Intel Core i7-10750H ...    82,990  4.4 out of 5
9  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    34,990  3.6 out of 5

Q9."https://www.myntra.com/shoes". Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [65]:

driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6337.0_10225.0_6337.0%20TO%2010225.0')

In [66]:
start_page=0
end_page=0
for page in range(start_page,end_page+1): 
    nxt_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    
    #creating empty lists
    shoe_names=[]
    s_desc=[]
    short_desc=[]
    price=[]
    
    #for scrapping shoe brand names
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names:
        shoe_names.append(i.text)
    
    #for scrapping shoe short-description
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    #for scrapping shoe prices
    desc=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in desc:
        price.append(i.text)
    
    #for scrapping the datas from next pages.
    if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(5)
            
    #creating a dataframe to store above scraped details
    df=pd.DataFrame({'Brand': shoe_names,
                    'Short-description': short_desc,
                    'Price': price})
    print(df)

                   Brand                       Short-description  \
0                   ALDO                       Men Driving Shoes
1                   Nike          Men Flex Run 2021 Running Shoe
2           UNDER ARMOUR                Men Charged Pursuit 2 SE
3           UNDER ARMOUR             Men HOVR Sonic 4 Colorshift
4           UNDER ARMOUR             Unisex Project Rock Recruit
5           UNDER ARMOUR          Men HOVR Sonic 4 Running Shoes
6                   Nike              Men BlazerLow '77 Sneakers
7                   Nike             Men AIR ZOOM PEGASUS 38 Run
8           UNDER ARMOUR          Men Charged Pursuit 2 SE Shoes
9             PUMA Hoops           Unisex Clyde Basketball Shoes
10                  Puma               Mesh Hybrid Fuego Running
11          UNDER ARMOUR          Women Charged Bandit 6 Running
12                  Puma            Women Velocity Nitro Running
13          UNDER ARMOUR           Men Charged Commit 3 Training
14          Hush Puppies            Men Leather Slip-On Sneakers
15  Heel & Buckle London                    Men Leather Sneakers
16          UNDER ARMOUR                 Men Phade Running Shoes
17          UNDER ARMOUR             Men Charged Assert 8 Marble
18              Skechers                 Men Equalizer 4.0 Trail
19          UNDER ARMOUR                 Women HOVR Sonic 4 FnRn
20          UNDER ARMOUR             Men Charged Rogue 2.5 RFLCT
21          UNDER ARMOUR               GS SC 3Zero IV Basketball
22               Bugatti                    Men Slip-On Sneakers
23                  Puma              Men Velocity Nitro Running
24          UNDER ARMOUR              Women HOVR Sonic 4 Running
25  FORCLAZ By Decathlon                      TREKKING 100 Boots
26                  Puma                 Men SOFTRIDE Rift Shoes
27                  Puma          Unisex Connect Splash Trainers
28                  Puma            Unisex Future Rider Sneakers
29                  Geox            Men Leather Slip-On Sneakers
30  Quechua By Decathlon                      Men Trekking Shoes
31          Hush Puppies       Men Solid Leather Formal Slip-Ons
32                  Puma            Women Eternity Nitro Running
33          UNDER ARMOUR               Men HOVR Infinite Running
34                  Nike             Women AIR MAX VIVA Sneakers
35          UNDER ARMOUR           Women Charged Rogue 2.5ClrSft
36               Bugatti                            Men Sneakers
37             Cole Haan                     Women Solid Loafers
38          UNDER ARMOUR          Women Charged Assert 8 Running
39  Heel & Buckle London               Men Tassel Leather Loafer
40              DAVINCHI  Men Solid Formal Leather Slip-On Shoes
41                  Geox      Men Textured Leather Driving Shoes
42                  Geox               Men Leather Driving Shoes
43                  Geox          Men Perforated Slip On Sneaker
44             J.FONTINI            Men Textured Leather Loafers
45                  Geox                  Women Leather Sneakers
46                  Geox            Men Printed Slip-On Sneakers
47  Heel & Buckle London              Men Leather Formal Loafers
48                  Geox              Men Leather Formal Oxfords
49             J.FONTINI            Men Textured Leather Loafers

                          Price
0                     Rs. 11999
1                      Rs. 6795
2                      Rs. 6999
3                     Rs. 10999
4                      Rs. 9999
5                     Rs. 10999
6                      Rs. 7195
7                      Rs. 9995
8                      Rs. 6999
9    Rs. 7149Rs. 10999(35% OFF)
10                     Rs. 6999
11                     Rs. 8999
12   Rs. 7149Rs. 10999(35% OFF)
13                     Rs. 7999
14    Rs. 6999Rs. 9999(30% OFF)
15   Rs. 7693Rs. 10990(30% OFF)
16                     Rs. 6499
17                     Rs. 6999
18                     Rs. 6499
19                    Rs. 10999
20                     Rs. 7999
21                     Rs. 7499
22    Rs. 6399Rs. 7999(20% OFF)
23                    Rs. 10999
24                    Rs. 10999
25                     Rs. 6999
26                     Rs. 6499
27                     Rs. 8999
28                     Rs. 6999
29                     Rs. 9490
30                     Rs. 9999
31    Rs. 8099Rs. 8999(10% OFF)
32   Rs. 8449Rs. 12999(35% OFF)
33                    Rs. 11999
34   Rs. 8121Rs. 12495(35% OFF)
35                     Rs. 7999
36                     Rs. 7999
37  Rs. 10799Rs. 17999(40% OFF)
38                     Rs. 6999
39   Rs. 9093Rs. 12990(30% OFF)
40                     Rs. 6990
41                     Rs. 9999
42                     Rs. 9990
43    Rs. 6749Rs. 8999(25% OFF)
44                     Rs. 7990
45    Rs. 6749Rs. 8999(25% OFF)
46   Rs. 8249Rs. 10999(25% OFF)
47    Rs. 6993Rs. 9990(30% OFF)
48                    Rs. 10490
49                     Rs. 6990